<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <form action="/" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div class="content">
                <input type="submit" value="Log In"/>
                <a href="/register">Register</a>
                <button class="list"><a href="/users">Users</a></button>

            </div>
        </form>
    </body>
</html>